{% extends 'base.html' %}
{% load static %}

{% block content%}

  <main>
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <img src="{% static 'img/image 182.png' %}">
    <div class="text_cont">
        <h1>Кто я такая</h1>
        <p>Любитель тщательно подходить к выбору подарков, красивой упаковки и эмоций</p>
        <h1>Почему подарки?</h1>
        <p>С их помощью можно подарить запоминающиеся и яркие эмоции</p>
        <h1>Для чего этот блог?</h1>
        <p>Чтобы научить людей как выбирать подарки и подходить к их выбору тщательно анализируя того, кому этот подарок предназначается.</p>
        <h1>Учу людей дарить эмоции!</h1>
    </div>
  </main>
{% endblock %}