{% extends 'base.html' %}
{% load static %}

{% block content%}

<main>
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
  <img src="{% static 'img/image 181.png' %}">
  <div class="text_cont">
    <h1>Как собрать подарочный бокс?</h1>
    <p>Готовые боксы — это удобный и простой вариант, чтобы не ломать голову. Но куда приятнее получить набор, собранный специально для тебя. Чтобы сделать подарок креативным и запоминающимся, я собрала несколько советов:</p>
    <h2>1. Продумайте упаковку</h2>
    <p>Упаковка — это уже половина подарка. Сегодня люди хотят дарить не просто предметы, а эмоцию, «вау-эффект». К тому же, оформление — это замечательная возможность проявить свои творческие способности.
      Можно пойти по классическому пути и украсить коробку ленточками и упаковочной бумагой. Это создаст настроение чудесного сюрприза при распаковке, а еще будет прекрасно смотреться на фотографиях.</p>
    <h2>2. Подберите подарки</h2>
    <p>Когда дело доходит до выбора подарков, глаза разбегаются от выбора приятных мелочей.
      Решите, какую тему или концепцию вы хотите использовать для набора. Например, это может быть набор для релаксации и ухода за собой, набор полезных сладостей. А может быть, бокс будет связан с самим праздником</p>
    <h2>3. Проявите внимание и заботу</h2>
    <p>Дополните упаковку важными деталями, которые покажут ваше внимание к близкому человеку: распечатайте фотографии с общими воспоминаниями, нарисуйте портрет или подпишите открытку. Потратьте время на то, чтобы написать от руки — тогда получатель точно оценит ваше внимание и заботу.</p>
  </div>
</main>
</body>
</html>
{% endblock %}