{% extends 'base.html' %}
{% load static %}

{% block content%}


    <main>
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <div class="main_cont">
            <h1>О подарках близким людям</h1>
            <img src="{% static 'img/—Pngtree—smiling%20pineapple_2599381%201.png' %}" alt="—Pngtree—smiling%20pineapple_2599381%201.png' %}">
        </div>
        <img src="{% static 'img/wow-image%20→%20%25D0%25BF%25D0%25BA%25D0%25B5%25D0%25BF%25D0%25BA%25D0%25B5%25D0%25BF.png.png' %}">

    </main>

{% endblock %}